.landing__cover {
  background-attachment: fixed;
  background-color: #272833;
  background-image: url('../../static/reine.jpeg');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 21;
}
.landing__cover:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  width: 1%;
}

.landing__cover:after {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.landing__content {
  display: inline-block;
  margin-right: 1%;
  max-width: 95%;
  padding: 6em;
  position: relative;
  text-align: right;
  vertical-align: middle;
  z-index: 1;
}

.landing__content header {
  display: inline-block;
  vertical-align: middle;
}

.landing__content header h2 {
  margin: 0 0 30px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 64px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}

.landing__content header p {
  margin: 0.5em 0 0 0;
  top: 0;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 200;
  line-height: 1.75em;
}

.landing__downArrow {
  border: 0;
  bottom: 0;
  display: block;
  height: 5em;
  left: 50%;
  margin: 0 0 0 -5em;
  overflow: hidden;
  position: absolute;
  text-indent: 10em;
  white-space: nowrap;
  width: 10em;
  z-index: 1;
}

.landing__downArrow:before {
  background-image: url('../../static/arrow.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 1.5em;
  left: 50%;
  margin: -0.75em 0 0 -1em;
  position: absolute;
  top: 50%;
  width: 2em;
  z-index: 1;
}
