.PersonalProjects__column {
  padding: 0 1em 0 1em;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.iconContainer {
  background: #272833;
  border-radius: 100%;
  cursor: default;
  height: 6em;
  line-height: 6em;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
  width: 6em !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 30%;
  width: 30% !important;
}

/* Small */
@media screen and (min-width: 768px) {
  .PersonalProjects__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
