header p {
  color: #ffffff;
  position: relative;
  margin: 0 0 1.5em 0;
}
/*
header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.75em;
}
*/
header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.75em;
}

.spotlight__cover {
  background-position: center center;
  background-size: cover;
  background-image: url('../../static/reine2.jpeg');
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  /*
  background-attachment: fixed;
  height: 100vh;
  */
  background-attachment: scroll;
  height: auto;
}

.spotlight__mobileCover {
  background-image: url('../../static/reine2.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  max-height: 50vh;
  padding-top: 54.62%; /* ((img-height / img-width) * 100 ) */
}

.spotlight__content {
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: -moz-transform 1s ease, opacity 1s ease;
  -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
  -ms-transition: -ms-transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  background: rgba(23, 24, 32, 0.95);
  opacity: 1;
  position: absolute;

  width: 100%;
  text-align: center;
}

.spotlight__contentHighlight {
  font-size: 1em;
  margin-top: -0.5em;
  line-height: 1.75em;
}

.spotlight__content_left {
  border-right-width: 0.35em;
  left: 0;
}

.spotlight__content_left,
.spotlight__content_right {
  height: 101%;
  /*padding: 6em 3em;*/

  background-color: #1c1d26;
  /* border-width: 0 !important;
  border-top-width: 0.35em !important;
  bottom: auto !important;
  left: auto !important;*/
  padding: 3em 1.25em 1em 1.25em;
  position: relative;
  text-align: center;
  top: auto;
  width: 100%;
}

/* Medium */
@media screen and (min-width: 992px) {
  .spotlight__cover {
    background-attachment: fixed;
    height: 100vh;
  }

  .spotlight__content_left,
  .spotlight__content_right {
    padding: 4.5em 2.5em 2.5em 2.5em;
    position: absolute;
    text-align: left;
    top: 0;
    width: 25em;
  }

  .spotlight__content_right {
    border-left-width: 0.35em;
    right: 0;
  }
}
