.spotlight__cover {
  background-position: center center;
  background-size: cover;
  background-image: url('../../static/reine2.jpeg');
  background-attachment: scroll;
  box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  height: auto;
}

.spotlight__mobileCover {
  background-image: url('../../static/reine2.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  max-height: 50vh;
  padding-top: 54.62%; /* ((img-height / img-width) * 100 ) */
}

.spotlight__content {
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: -moz-transform 1s ease, opacity 1s ease;
  -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  opacity: 1;
  position: absolute;
  width: 100%;
  text-align: center;
}

.spotlight__contentHighlight {
  font-size: 1em;
  margin-top: -1em;
  line-height: 1.75em;
}

.spotlight__content_left {
  border-right-width: 0.35em;
  left: 0;
}

.spotlight__content_left,
.spotlight__content_right {
  height: 101%;
  background-color: #1c1d26;
  padding: 3em 1.25em 1em 1.25em;
  position: relative;
  text-align: center;
  top: auto;
  width: 100%;
}

/* XSmall */
@media screen and (min-width: 576px) {
  .spotlight__content_left,
  .spotlight__content_right {
    padding: 3.25em 1.5em 1.25em 1.5em;
  }
}

/* Small */
@media screen and (min-width: 768px) {
  .spotlight__cover {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  }

  .spotlight__content_left,
  .spotlight__content_right {
    padding: 4.5em 2.5em 2.5em 2.5em;
  }

  .spotlight__contentHighlight {
    font-size: 1.25em;
  }
}

/* Medium */
@media screen and (min-width: 992px) {
  .spotlight__cover {
    background-attachment: fixed;
    height: 100vh;
  }

  .spotlight__content_left,
  .spotlight__content_right {
    background: rgba(23, 24, 32, 0.95);
    padding: 4.5em 2.5em;
    position: absolute;
    text-align: left;
    top: 0;
    width: 25em;
  }

  .spotlight__content_right {
    border-left-width: 0.35em;
    right: 0;
  }
}

/* Large */
@media screen and (min-width: 1200px) {
  .spotlight__content_left,
  .spotlight__content_right {
    padding: 6em 3em;
    width: 28em;
  }
}
